html {
    min-height: 100%;
}
body {
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:1em;
    line-height:4ex;
    color: white;
    padding: 5%;
    background-repeat:no-repeat !important;
    background-attachment: fixed;
    background: rgb(77, 175, 199);
    min-height: 100%;
}
h1 {
    
    font-size:2em;
    font-weight:bold;
    
}

form, #container {
    text-align:center;
}
#container {
    padding: 5% 0;
}
#message_txt {
    line-height: 4ex;
    margin: 0 0 2.5ex 0;
}
input[type=text] {
    border: 2px solid #333;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    outline: none;
    background: #fff;
    width: 100px;
    height: 50px;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align:center;
    font-size: 2em;
    margin: 0 0 2ex;
}
button {
    border: 2px solid #333;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin: 0 0 1.75ex;
    font-size: 2em;
    text-align:center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #333;
}
button[disabled], input[type=text][disabled] {
    border: 2px solid #999;
    color: #999;
    cursor: default;
    background: #ccc;
}